body {
    background-color: black;
    margin: 0;
    color: #c6c4c4;
    font-size: 25px;
}
.light-mode {
    background-color: white;
    color: black;
}
header {
    width: 100%;
    background-color: #a68dee;
    box-shadow: 0 2px 2px #fad1fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoname {
    margin: 0 25px;
    width: 180px;
    height: 40px;
    font-weight: bold;
    font-family: "Jokerman", "Brush Script MT";
    color: #6200ff;
    padding: 0 10px;
    font-size: 30px;
}
button {
    background-color: #fad1fa;
    color: #6200ff;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 2px 2px #6200ff;
}
.menu {
    list-style: none;
    margin: 0;
    display: flex;
}
.menu button {
    height: 175px;
    width: 30px;
}
.pointer {
    color: #6200ff;
    text-decoration: none;
    padding: 2px 10px;
    font-size: 25px;
    font-family: "Impact";
}
.pointer:hover {
    background-color: #fe87fc;
    color: black;
    font-family: "Century Gothic";
    border-radius: 30%;
}
h1 {
    color: #c6b6f3;
    font-family: "Bookman Old Style";
    margin: 10px 25px;
}
p {
  margin: 25px;
}
.data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.foto {
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 30px;
    margin-right: 30px;
    display: flex;
}
.foto img {
    flex-wrap: wrap;
}
h2.name {
    color: #c6b6f3;
    font-family: "Bookman Old Style";
    margin: 0;
    width: 150px;
    height: 100px;
}
.description{
    margin: 110px 0 0 -145px;
    width: 250px;
    height: 100px;
}
.logogithub {
    width: 40px;
    height: 40px;
}
.logolinkedin {
    width: 35px;
    height: 35px;
}